asgiref==3.5.0
backports.zoneinfo==0.2.1
bot-storage==1.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
Deprecated==1.2.13
Django==4.0.2
django-tbot-base==1.0.1
idna==3.3
loguru==0.6.0
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
pyTelegramBotAPI==4.4.0
redis==4.1.4
requests==2.27.1
sqlparse==0.4.2
ujson==5.1.0
urllib3==1.26.8
wrapt==1.13.3
